NEWS_API_KEY=your_news_api_key_here
OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_INDEX=news_article
OPENAI_API_KEY=your_openai_api_key_here
EMBEDDING_PROVIDER=openai
EMBEDDING_DIMENSIONS=384
EMBEDDING_MODEL=text-embedding-3-small
